.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
        padding: 50px 69px 60px 69px;
    }
    &__addr {
        margin-bottom: 36px;
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
    }
    &__phone {
        display: block;
        color: #FFF;    
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 36px;
        text-decoration: none;
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 53px;
        height: 52px;
        margin: 0 15px;
        img {
            height: 50px;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items:center;
    }
}