.title {
    color: #0D0D0D;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    &_left {
        text-align: left;
        color: #FFF;
        font-size: 36px;
    }
}